body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background 2.jpg') no-repeat center center fixed;
    background-color: #f4f4f4;
    text-align: center;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45px; /* Adjust size as needed */
    height: 32px;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    background: transparent;
    padding: 10px;
}


nav a {
    color:limegreen ;
    margin: 0 20px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}


h1 {
    color: blue;
}

p {
    line-height: 1.6;
    color: white;
}
